.album-art {
    height: 250px;
    display: inline;
    z-index: -10;
    width: 100%;
}

.content{
    margin-top: 72px;
    margin-bottom: 30px;
}

.error {
    color: #b33;
}

.pi-buttons {
    font-size: 30px;
}
.pi-controls {
    width: 100%;
}
.pi-controls button,a {
    margin-top: 10px;

}

.middle-align {
}

.mission-control button {
  font-size: 16px;
}
.mission-control a {
  font-size: 16px;
}
.song-details a:hover{
  text-decoration: none;
}
.mission-control {
    /*background: none;*/
    opacity: 0.85;
}
.list-btn-control-4 {
    width: 25%;
    font-size: 16px;
}

.list-btn-control-vol {
    font-size: 16px;
    width: 20%;
}
.list-btn-control-session-8 {
    font-size: 20px;
    width: 79%;
}
.list-btn-control-session-2 {
    font-size: 20px;
    width: 20%;
}